:root {
    --c-cobalt-solid-1: #3a5ccc;
    --c-cobalt-solid-2: #3050BB;
    --c-cobalt-solid-3: #2B48A6;

    --c-cobalt-soft-1: #EBF0FE;
    --c-cobalt-soft-2: #E2EAFD;
    --c-cobalt-soft-3: #D9E2FC;
    --c-cobalt-soft-4: #CBD7FB;
    --c-cobalt-soft-5: #BDCCF9;

    --c-cobalt-text-1: var(--c-cobalt-solid-1);
    --c-cobalt-text-2: var(--c-cobalt-solid-2);
    --c-cobalt-text-3: var(--c-cobalt-solid-3);
    --c-cobalt-text-4: #D9E2FC;
    --c-cobalt-text-5: white;

    --rgb-cobalt-border: 45 93 235;
    --c-cobalt-border-subtle: rgba(var(--rgb-cobalt-border) / 0.25);
    --c-cobalt-border-strong: rgba(var(--rgb-cobalt-border) / 0.5);

    --c-cobalt-border-1: #93ACF6;
    --c-cobalt-border-2: var(--c-cobalt-solid-1);
    --c-cobalt-border-3: #253D8E;

    --c-cobalt-outline: #AEBCE6;

    --c-cobalt-subtle-1: #F5F9FF;

    --rgb-cobalt-solid: 58 92 204;
    --rgb-cobalt-soft: 217 226 252;
}
.dark {
    --c-cobalt-solid-1: #2B48A6;
    --c-cobalt-solid-2: #3050BB;
    --c-cobalt-solid-3: #3a5ccc;

    --c-cobalt-soft-1: #101C42;
    --c-cobalt-soft-2: #142252;
    --c-cobalt-soft-3: #182963;
    --c-cobalt-soft-4: #1C3073;
    --c-cobalt-soft-5: #203783;

    --c-cobalt-text-1: #BDCCF9;
    --c-cobalt-text-2: #BDCCF9;
    --c-cobalt-text-3: #CBD7FB;

    --rgb-cobalt-border: 93 121 213;
    --c-cobalt-border-subtle: rgba(var(--rgb-cobalt-border) / 0.35);
    --c-cobalt-border-strong: rgba(var(--rgb-cobalt-border) / 0.55);

    --c-cobalt-border-1: #0F1A3D;
    --c-cobalt-border-3: var(--c-cobalt-soft-3);

    --c-cobalt-outline: #2947AB;

    --c-cobalt-subtle-1: #0C1531;

    --rgb-cobalt-solid: 43 72 166;
    --rgb-cobalt-soft: 24 41 99;
}