:root{
    --c-dartmouth-solid-1: #177A4E;
    --c-dartmouth-solid-2: #156A44;
    --c-dartmouth-solid-3: #135E3C;

    --c-dartmouth-soft-1: #ECF8ED;
    --c-dartmouth-soft-2: #DDF3DF;
    --c-dartmouth-soft-3: #CEEED1;
    --c-dartmouth-soft-4: #BFE8C3;
    --c-dartmouth-soft-5: #B0E3B5;

    --c-dartmouth-text-1: var(--c-dartmouth-solid-1);
    --c-dartmouth-text-2: var(--c-dartmouth-solid-2);
    --c-dartmouth-text-3: var(--c-dartmouth-solid-3);
    --c-dartmouth-text-4: #DDF3DF;
    --c-dartmouth-text-5: white;

    --c-dartmouth-border-subtle: rgba(21 106 69 / 0.25);
    --c-dartmouth-border-strong: rgba(23 122 78 / 0.7);

    --c-dartmouth-border-1: #84C889;
    --c-dartmouth-border-2: var(--c-dartmouth-solid-1);
    --c-dartmouth-border-3: #105034;

    --c-dartmouth-subtle-1: #F4FBF4;

    --rgb-dartmouth-solid: 23 122 78;
    --rgb-dartmouth-soft: 206 238 209;
}
.dark{
    --c-dartmouth-solid-1: #135E3C;
    --c-dartmouth-solid-2: #156A44;
    --c-dartmouth-solid-3: #177A4E;

    --c-dartmouth-soft-1: #101E19;
    --c-dartmouth-soft-2: #152821;
    --c-dartmouth-soft-3: #1A3229;
    --c-dartmouth-soft-4: #204035;
    --c-dartmouth-soft-5: #274E40;

    --c-dartmouth-text-1: #B0E3B5;
    --c-dartmouth-text-2: #BFE8C3;
    --c-dartmouth-text-3: #CEEED1;

    --c-dartmouth-border-subtle: rgba(104 227 172 / 0.2);
    --c-dartmouth-border-strong: rgba(104 227 172 / 0.4);

    --c-dartmouth-border-1: var(--c-dartmouth-soft-1);
    --c-dartmouth-border-3: #0C3B26;

    --c-dartmouth-subtle-1: #0E1B16;

    --rgb-dartmouth-solid: 19 94 60;
    --rgb-dartmouth-soft: 26 50 41;
}