:root {
    --c-denim-solid-1: #0564D1;
    --c-denim-solid-2: #055BBD;
    --c-denim-solid-3: #044C9F;

    --c-denim-soft-1: #F0F7FF;
    --c-denim-soft-2: #E0EFFF;
    --c-denim-soft-3: #D6EAFF;
    --c-denim-soft-4: #CCE5FF;

    --c-denim-text-1: var(--c-denim-solid-2);
    --c-denim-text-2: var(--c-denim-solid-2);
    --c-denim-text-3: #EBF4FF;
    --c-denim-text-4: white;

    --rgb-denim-border: 8 108 221;
    --c-denim-border-subtle: rgba(var(--rgb-denim-border) / 0.18);
    --c-denim-border-regular: rgba(var(--rgb-denim-border) / 0.50);

    --c-denim-outline: #95BCE6;

    --c-denim-1: var(--c-denim-solid-1);
    --c-denim-2: #9DC9FB;
    --c-denim-3: #03438C;
    --c-denim-4: #EBF3FF;

    --rgb-denim-solid: 5 100 209;
    --rgb-denim-soft: 224 239 255;
}
.dark {
    --c-denim-solid-1: #0451A9;
    --c-denim-solid-3: #0669DB;

    --c-denim-soft-1: #011C3C;
    --c-denim-soft-2: #012651;
    --c-denim-soft-3: #012D60;
    --c-denim-soft-4: #013774;

    --c-denim-text-1: #ADD5FF;
    --c-denim-text-2: #BDDDFF;

    --rgb-denim-border: 154 201 254;
    --c-denim-border-subtle: rgba(var(--rgb-denim-border) / 0.22);
    --c-denim-border-regular: rgba(var(--rgb-denim-border) / 0.33);

    --c-denim-outline: #054C9E;

    --c-denim-1: #066EE5;
    --c-denim-2: var(--c-denim-soft-4);
    --c-denim-3: var(--c-denim-soft-3);
    --c-denim-4: var(--c-denim-soft-3);

    --rgb-denim-solid: 4 81 169;
    --rgb-denim-soft: 1 38 81;
}