:root {
    --c-denim-solid-1: #055BC0;
    --c-denim-solid-2: #004FB2;
    --c-denim-solid-3: #0044A4;

    --c-denim-soft-1: #F0F6FF;
    --c-denim-soft-2: #E6F1FE;
    --c-denim-soft-3: #DCECFE;
    --c-denim-soft-4: #CEE4FD;
    --c-denim-soft-5: #BFDCFC;

    --c-denim-text-1: var(--c-denim-solid-1);
    --c-denim-text-2: var(--c-denim-solid-1);
    --c-denim-text-3: var(--c-denim-solid-2);
    --c-denim-text-4: #E6F1FE;
    --c-denim-text-5: white;

    --rgb-denim-border: 8 108 221;
    --c-denim-border-subtle: rgba(var(--rgb-denim-border) / 0.25);
    --c-denim-border-strong: rgba(var(--rgb-denim-border) / 0.55);

    --c-denim-border-1: #9DC9FB;
    --c-denim-border-2: var(--c-denim-solid-1);
    --c-denim-border-3: #03438C;

    --c-denim-outline: #95BCE6;

    --c-denim-subtle-1: #FAFCFF;

    --rgb-denim-solid: 5 91 192;
    --rgb-denim-soft: 220 236 254;
}
.dark{
    --c-denim-solid-1: #0044A4;
    --c-denim-solid-2: #004FB2;
    --c-denim-solid-3: #055BC0;

    --c-denim-soft-1: #01152D;
    --c-denim-soft-2: #022145;
    --c-denim-soft-3: #032B59;
    --c-denim-soft-4: #04356C;
    --c-denim-soft-5: #043C7B;

    --c-denim-text-1: #ACD2FC;
    --c-denim-text-2: #B6D8FC;
    --c-denim-text-3: #BFDCFC;

    --rgb-denim-border: 81 160 251;
    --c-denim-border-subtle: rgba(var(--rgb-denim-border) / 0.3);
    --c-denim-border-strong: rgba(var(--rgb-denim-border) / 0.55);

    --c-denim-border-1: #021E3D;
    --c-denim-border-3: var(--c-denim-soft-3);

    --c-denim-outline: #054C9E;

    --c-denim-subtle-1: #010E1E;

    --rgb-denim-soft: 3 43 89;
}