:root {
    --c-denim-solid-1: #055BC0;
    --c-denim-solid-2: #004FB2;
    --c-denim-solid-3: #0044A4;

    --c-denim-soft-1: #F0F6FF;
    --c-denim-soft-2: #E6F1FE;
    --c-denim-soft-3: #DCECFE;
    --c-denim-soft-4: #CEE4FD;
    --c-denim-soft-5: #BFDCFC;

    --c-denim-subtle-1: #FAFCFF;
    
    --c-denim-border-solid-1: var(--c-denim-solid-1);
    --c-denim-border-solid-2: #003E94;

    --c-denim-border-subtle-1: var(--c-denim-soft-4);
    --c-denim-border-subtle-2: var(--c-denim-soft-5);
    --c-denim-border-subtle-3: #B6D8FC;
    --c-denim-border-subtle-4: #ACD2FC;

    --c-denim-border-strong-1: #066BE0;
    --c-denim-border-strong-2: #0564D1;
    --c-denim-border-strong-3: #0564D1;
    --c-denim-border-strong-4: var(--c-denim-solid-1);

    --c-denim-text-1: var(--c-denim-solid-1);
    --c-denim-text-2: var(--c-denim-solid-1);
    --c-denim-text-3: var(--c-denim-solid-2);
    --c-denim-text-4: #E6F1FE;
    --c-denim-text-5: white;

    --rgb-denim-solid: 5 91 192;
    --rgb-denim-soft: 220 236 254;
}
.dark{
    --c-denim-solid-1: #0044A4;
    --c-denim-solid-2: #004FB2;
    --c-denim-solid-3: #055BC0;

    --c-denim-soft-1: #01152D;
    --c-denim-soft-2: #022145;
    --c-denim-soft-3: #032B59;
    --c-denim-soft-4: #04356C;
    --c-denim-soft-5: #043C7B;

    --c-denim-subtle-1: #010E1E;
    
    --c-denim-border-solid-1: var(--c-denim-solid-2);
    --c-denim-border-solid-2: #003E94;

    --c-denim-border-subtle-3: #04438B;
    --c-denim-border-subtle-4: #054A99;

    --c-denim-border-strong-1: var(--c-denim-solid-1);
    --c-denim-border-strong-2: var(--c-denim-solid-2);
    --c-denim-border-strong-3: var(--c-denim-solid-3);
    --c-denim-border-strong-4: #0564D1;

    --c-denim-text-1: #ACD2FC;
    --c-denim-text-2: #B6D8FC;
    --c-denim-text-3: #BFDCFC;

    --rgb-denim-soft: 3 43 89;
}