:root {
    --c-indigo-solid-1: light-dark(#4f46e5, #3E32BD);
    --c-indigo-solid-2: #4338ca;
    --c-indigo-solid-3: light-dark(#3730a3, #433BE3);

    --c-indigo-soft-1: light-dark(#F2F2FD, #100E34);
    --c-indigo-soft-2: light-dark(#E5E5FB, #18144D);
    --c-indigo-soft-3: light-dark(#D7D7F9, #1E1961);
    --c-indigo-soft-4: light-dark(#C6C6F6, #27207E);

    --c-indigo-text-1: light-dark(var(--c-indigo-solid-1), #C6C6F6);
    --c-indigo-text-2: light-dark(var(--c-indigo-solid-2), var(--c-indigo-text-1));
    --c-indigo-text-3: light-dark(var(--c-indigo-soft-2), #E5E5FB);
    --c-indigo-text-4: white;

    --rgb-indigo-border: 33 25 179;
    --c-indigo-border-subtle: rgb(var(--rgb-indigo-border) / 0.15);
    --c-indigo-border-regular: rgb(var(--rgb-indigo-border) / 0.43);

    --c-indigo-outline: light-dark(#ACACF1, #322AA2);

    --c-indigo-1: light-dark(var(--c-indigo-solid-1), #594ED0);
    --c-indigo-2: light-dark(#B4B4F3, var(--c-indigo-soft-4));
    --c-indigo-3: light-dark(var(--c-indigo-solid-3), var(--c-indigo-soft-3));
    --c-indigo-4: var(--c-indigo-soft-2);
}
:root.dark {
    --rgb-indigo-border: 225 224 251;
    --c-indigo-border-subtle: rgb(var(--rgb-indigo-border) / 0.16);
    --c-indigo-border-regular: rgb(var(--rgb-indigo-border) / 0.35);
}