:root {
    --c-red-solid-1: #C82D36;
    --c-red-solid-2: #B72A31;
    --c-red-solid-3: #A6262C;

    --c-red-soft-1: #F9EBE7;
    --c-red-soft-2: #FFE0D6;
    --c-red-soft-3: #FFD8CC;
    --c-red-soft-4: #FFCCBD;
    --c-red-soft-5: #FFC4B3;

    --c-red-subtle-1: #FFF4F0;
    
    --c-red-border-solid-1: var(--c-red-solid-1);
    --c-red-border-solid-2: #962228;

    --c-red-border-subtle-1: var(--c-red-soft-4);
    --c-red-border-subtle-2: var(--c-red-soft-5);
    --c-red-border-subtle-3: #FFBBA8;
    --c-red-border-subtle-4: #FFB39E;

    --c-red-border-strong-1: #D64C53;
    --c-red-border-strong-2: #D44047;
    --c-red-border-strong-3: #D1333B;
    --c-red-border-strong-4: var(--c-red-solid-1);

    --c-red-text-1: var(--c-red-solid-1);
    --c-red-text-2: var(--c-red-solid-2);
    --c-red-text-3: var(--c-red-solid-3);
    --c-red-text-4: #F9E6E7;
    --c-red-text-5: white;

    --rgb-red-solid: 200 45 54;
    --rgb-red-soft: 255 216 204;
}
.dark {
    --c-red-solid-1: #A6262C;
    --c-red-solid-2: #B72A31;
    --c-red-solid-3: #C82D36;

    --c-red-soft-1: #2A090B;
    --c-red-soft-2: #3B0C10;
    --c-red-soft-3: #4C1015;
    --c-red-soft-4: #5D141A;
    --c-red-soft-5: #6D171E;

    --c-red-subtle-1: #1D0608;
    
    --c-red-border-solid-1: var(--c-red-solid-2);
    --c-red-border-solid-2: #D1333B;

    --c-red-border-subtle-3: #7E1B23;
    --c-red-border-subtle-4: #8F1E28;

    --c-red-border-strong-1: var(--c-red-solid-1);
    --c-red-border-strong-2: var(--c-red-solid-2);
    --c-red-border-strong-3: var(--c-red-solid-3);
    --c-red-border-strong-4: #D1333B;

    --c-red-text-1: #DE6E73;
    --c-red-text-2: #ECACAE;
    --c-red-text-3: #F1C1C3;

    --rgb-red-solid: 200 45 54;
    --rgb-red-soft: 255 216 204;
}