:root {
    --c-red-solid-1: light-dark(#C82D36, #A6262C);
    --c-red-solid-2: light-dark(#B72A31, #B72A31);
    --c-red-solid-3: light-dark(#A6262C, #C82D36);

    --c-red-soft-1: light-dark(#FBEFEF, #2E0A0D);
    --c-red-soft-2: light-dark(#F8E2E2, #3F0E12);
    --c-red-soft-3: light-dark(#F5D6D6, #4F1117);
    --c-red-soft-4: light-dark(#F2CACA, #61151C);

    --c-red-text-1: light-dark(var(--c-red-solid-1), #D9595F);
    --c-red-text-2: light-dark(#A6262C, #ECACAF);
    --c-red-text-3: #F9E6E7;
    --c-red-text-4: white;

    --rgb-red-border: 144 35 35;
    --c-red-border-subtle: rgb(var(--rgb-red-border) / 0.20);
    --c-red-border-regular: rgb(var(--rgb-red-border) / 0.47);

    --c-red-outline: light-dark(#E69E8A, #99202A);

    --c-red-1: light-dark(var(--c-red-solid-1), #D93039);
    --c-red-2: light-dark(#DE6E73, var(--c-red-soft-4));
    --c-red-3: light-dark(#962228, var(--c-red-soft-3));
    --c-red-4: var(--c-red-soft-2);
}
:root.dark {
    --rgb-red-border: 227 130 142;
    --c-red-border-subtle: rgb(var(--rgb-red-border) / 0.2);
    --c-red-border-regular: rgb(var(--rgb-red-border) / 0.36);
}