:root {
    --c-sky-solid-1: #0070AB;
    --c-sky-solid-2: #00639C;
    --c-sky-solid-3: #00578F;

    --c-sky-soft-1: #E5F6FF;
    --c-sky-soft-2: #D6F1FF;
    --c-sky-soft-3: #C2EBFF;
    --c-sky-soft-4: #BAE1F5;

    --c-sky-text-1: var(--c-sky-solid-1);
    --c-sky-text-2: var(--c-sky-solid-2);
    --c-sky-text-3: var(--c-sky-soft-2);
    --c-sky-text-4: white;

    --rgb-sky-border: 0 66 102;
    --c-sky-border-subtle: rgba(var(--rgb-sky-border) / 0.15);
    --c-sky-border-regular: rgba(var(--rgb-sky-border) / 0.40);

    --c-sky-outline: #A5C7D9;

    --c-sky-1: var(--c-sky-solid-1);
    --c-sky-2: #80D4FF;
    --c-sky-3: var(--c-sky-solid-3);
    --c-sky-4: #F0FAFF;

    --rgb-sky-solid: 0 112 171;
    --rgb-sky-soft: 214 241 255;
}
.dark {
    --c-sky-1: #00578F;
    --c-sky-2: #00639C;
    --c-sky-3: #0070AB;
    
    --c-sky-soft-1: #001F33;
    --c-sky-soft-2: #002942;
    --c-sky-soft-3: #00395C;
    --c-sky-soft-4: #005E99;

    --c-sky-text-1: #BAE1F5;
    --c-sky-text-2: var(--c-sky-text-1);
    --c-sky-text-3: #D6F1FF;

    --rgb-sky-border: 204 237 255;
    --c-sky-border-subtle: rgba(var(--rgb-sky-border) / 0.15);
    --c-sky-border-regular: rgba(var(--rgb-sky-border) / 0.32);

    --c-sky-outline: #0065A3;

    --c-sky-1: #008BD6;
    --c-sky-2: var(--c-sky-soft-4);
    --c-sky-3: var(--c-sky-soft-3);
    --c-sky-4: var(--c-sky-soft-3);
 
    --rgb-sky-solid: 0 87 143;
    --rgb-sky-soft: 0 41 66;
}