:root{
    --c-yellow-solid-1: #FFCB3D;
    --c-yellow-solid-2: #FFC014;
    --c-yellow-solid-3: #F5B400;

    --c-yellow-soft-1: #FDF7E2;
    --c-yellow-soft-2: #FCF0C5;
    --c-yellow-soft-3: #FBEAAD;
    --c-yellow-soft-4: #FAE599;

    --c-yellow-text-1: #805E00;
    --c-yellow-text-2: var(--c-yellow-text-1);
    --c-yellow-text-3: var(--c-yellow-text-1);
    --c-yellow-text-4: #614700;

    --rgb-yellow-border: 128 94 0;
    --c-yellow-border-subtle: rgba(var(--rgb-yellow-border) / 0.17);
    --c-yellow-border-strong: rgba(var(--rgb-yellow-border) / 0.39);

    --c-yellow-outline: #DEBE6D;

    --c-yellow-1: #DEA300;
    --c-yellow-2: #E8B430;
    --c-yellow-3: #B88914;
    --c-yellow-4: #FAF5E0;

    --rgb-yellow-solid: 255 212 98;
    --rgb-yellow-soft: 252 240 197;
}
.dark{
    --c-yellow-solid-1: #E0A500;
    --c-yellow-solid-2: #FFBC05;
    --c-yellow-solid-3: #FFCD42;

    --c-yellow-soft-1: #291D00;
    --c-yellow-soft-2: #382900;
    --c-yellow-soft-3: #473600;
    --c-yellow-soft-4: #574100;

    --c-yellow-text-1: #FFC21A;
    --c-yellow-text-2: #F5D789;
    --c-yellow-text-3: #523C00;
    --c-yellow-text-4: #472B00;

    --rgb-yellow-border: 255 205 56;
    --c-yellow-border-subtle: rgba(var(--rgb-yellow-border) / 0.18);
    --c-yellow-border-strong: rgba(var(--rgb-yellow-border) / 0.36);

    --c-yellow-outline: #BF8C00;
    
    --c-yellow-1: var(--c-yellow-solid-1);
    --c-yellow-2: #4D3900;
    --c-yellow-3: #805E00;
    --c-yellow-4: #664D00;

    --rgb-yellow-solid: 224 165 0;
    --rgb-yellow-soft: 56 41 0;
}