@import 'vergil/assets/main.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root{
    --mainFont: Montserrat;
}

.vp-btn{
    padding: 3px 20px;
    border: 1.5px solid var(--vp-c-bg-soft-mute);
    border-radius: 4px;
    background-color: var(--vp-c-bg-soft-mute);
    transition: border-color 300ms;
}
.vp-btn:hover{
    border-color: var(--vp-c-divider);
}