@import 'vergil/assets/main.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --mainFont: Montserrat;
    --font1: Montserrat Alternates;
    --font2: 'Roboto';

    --z-index-pop-up: 95;
    --z-index-confirm: 99;
    --z-index-alert: 100;
    --z-index-toast: 100;
}

.vp-btn{
    padding: 3px 20px;
    border: 1.5px solid var(--vp-c-bg-soft-mute);
    border-radius: 4px;
    background-color: var(--vp-c-bg-soft-mute);
    transition: border-color 300ms;
}
.vp-btn:hover{
    border-color: var(--vp-c-divider);
}