/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-brand-1: var(--c-moss-solid-3);
	--vp-c-brand-2: var(--c-moss-solid-2);
	--vp-c-brand-3: var(--c-moss-solid-1);
	--vp-c-brand-soft: rgba(136, 186, 109, 0.14);
}
.dark {
	--vp-c-brand-1: #84A871;
	--vp-c-brand-2: #769E61;
	--vp-c-brand-3: #6A8E57;
}

/**
 * Colors: Background
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-bg: var(--c-bg);
	--vp-c-bg-alt: var(--c-bg-alt);
	--vp-c-bg-soft: var(--c-bg-alt);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
	--vp-font-family-base: var(--font-sans);
	--vp-font-family-mono: var(--font-mono);
	font-optical-sizing: auto;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: linear-gradient(
		135deg,
		var(--c-moss-solid-1) 55%,
		var(--c-moss-soft-4)
	);

	/* --vp-home-hero-image-background-image: linear-gradient(
		-30deg,
		var(--vp-c-brand-2) 30%,
		#64B810 70%
	); */
	--vp-home-hero-image-background-image: transparent;
}
.dark {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: linear-gradient(
		135deg,
		var(--c-moss-text-1) 45%,
		var(--c-moss-soft-3)
	);
}

@media (min-width: 640px) {
	:root {
		--vp-home-hero-image-filter: blur(56px);
	}
}

@media (min-width: 960px) {
	:root {
		--vp-home-hero-image-filter: blur(72px);
	}
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

.dark {
	--vp-button-brand-text: #0C100A;
	--vp-button-brand-hover-text: #0C100A;
	--vp-button-brand-active-text: #0C100A;
}