/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root{
	--vp-c-brand-1: #3C5A2C;
	--vp-c-brand-2: #476737;
	--vp-c-brand-3: #587848;
	--vp-c-brand-soft: rgba(136, 186, 109, 0.14);
}
.dark{
	--vp-c-brand-1: #AFD09F;
	--vp-c-brand-2: #A1C291;
	--vp-c-brand-3: #94B484;
}

/**
 * Colors: Background
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-bg: var(--c-bg);
	--vp-c-bg-alt: var(--c-bg-alt);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
	--vp-font-family-base: var(--font-sans);
	--vp-font-family-mono: var(--font-mono);
	font-optical-sizing: auto;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(
		0deg,
		#64B810 40%,
		var(--vp-c-brand-2)
	);

	--vp-home-hero-image-background-image: linear-gradient(
		-30deg,
		var(--vp-c-brand-2) 30%,
		#64B810 70%
	);
	--vp-home-hero-image-filter: blur(40px);
}
.dark{
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(
		0deg,
		#A6FF73 40%,
		var(--vp-c-brand-3)
	);
}

@media (min-width: 640px) {
	:root {
		--vp-home-hero-image-filter: blur(56px);
	}
}

@media (min-width: 960px) {
	:root {
		--vp-home-hero-image-filter: blur(72px);
	}
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

.dark {
	--vp-button-brand-text: var(--c-moss-text-1);
	--vp-button-brand-hover-text: var(--c-moss-text-1);
	--vp-button-brand-active-text: var(--c-moss-text-1);
}