:root {
    --c-denim-solid-1: light-dark(#0564D1, #0451A9);
    --c-denim-solid-2: #055BBD;
    --c-denim-solid-3: light-dark(#044C9F, #0669DB);

    --c-denim-soft-1: light-dark(#F0F7FF, #011C3C);
    --c-denim-soft-2: light-dark(#E0EFFF, #012651);
    --c-denim-soft-3: light-dark(#D6EAFF, #012D60);
    --c-denim-soft-4: light-dark(#CCE5FF, #013774);

    --c-denim-text-1: light-dark(var(--c-denim-solid-2), #ADD5FF);
    --c-denim-text-2: light-dark(var(--c-denim-solid-2), #BDDDFF);
    --c-denim-text-3: #EBF4FF;
    --c-denim-text-4: white;

    --rgb-denim-border: 8 108 221;
    --c-denim-border-subtle: rgb(var(--rgb-denim-border) / 0.18);
    --c-denim-border-regular: rgb(var(--rgb-denim-border) / 0.50);

    --c-denim-outline: light-dark(#95BCE6, #054C9E);

    --c-denim-1: light-dark(var(--c-denim-solid-1), #066EE5);
    --c-denim-2: light-dark(#9DC9FB, var(--c-denim-soft-4));
    --c-denim-3: light-dark(#03438C, var(--c-denim-soft-3));
    --c-denim-4: var(--c-denim-soft-2);
}
:root.dark {
    --rgb-denim-border: 154 201 254;
    --c-denim-border-subtle: rgb(var(--rgb-denim-border) / 0.22);
    --c-denim-border-regular: rgb(var(--rgb-denim-border) / 0.33);
}