/*----------------------------------------------------------------------------------------.
---------------------------------------- VARIABLES ----------------------------------------
----------------------------------------------------------------------------------------.*/

/*----------------------------------------------
-------------------- COLORS --------------------
----------------------------------------------*/
/*
    Contrast check:
        1) bg = var(--c-[name]-x), text = white | var(--c-text)
        2) bg = var(--c-bg-alt), text = var(--c-[name]-text-1)
        3) bg = var(--c-[name]-soft-x), text = var(--c-[name]-text-2)
*/

/*-------- BRAND --------*/
:root{
    --c-brand-1: #587848;
    --c-brand-2: #476737;
    --c-brand-3: #3C5A2C;

    --rgb-brand: 88 120 72;

    --c-brand-soft-1: #DAE6D5;
    --c-brand-soft-2: #CCD8C7;
    --c-brand-soft-3: #BECAB9;

    --rgb-brand-soft: 218 230 213;

    --c-brand-text-1: var(--c-brand-1);
    --c-brand-text-2: var(--c-brand-3);

    --rgb-brand-dimmed: 136 186 109;

    --c-brand-dimmed-10: rgba(var(--rgb-brand-dimmed) / 0.10);
    --c-brand-dimmed-15: rgba(var(--rgb-brand-dimmed) / 0.15);
    --c-brand-dimmed-20: rgba(var(--rgb-brand-dimmed) / 0.20);
}

/*-------- OK --------*/
:root{
    --c-ok-1: #18794E;
    --c-ok-2: #006D43;
    --c-ok-3: #006037;

    --rgb-ok: 24 121 78;

    --c-ok-soft-1: #B9F0BD;
    --c-ok-soft-2: #ABE2AF;
    --c-ok-soft-3: #9ED3A2;

    --rgb-ok-soft: 185 240 189;

    --c-ok-text-1: var(--c-ok-1);
    --c-ok-text-2: var(--c-ok-3);

    --rgb-green-dimmed: 16 185 129;

    --c-ok-dimmed-10: rgba(var(--rgb-green-dimmed) / 0.10);
    --c-ok-dimmed-15: rgba(var(--rgb-green-dimmed) / 0.15);
    --c-ok-dimmed-20: rgba(var(--rgb-green-dimmed) / 0.20);
}

/*-------- INFO --------*/
:root{
    --c-info-1: #3a5ccc;
    --c-info-2: #3451b2;
    --c-info-3: #0046B2;

    --rgb-info: 58 92 204;

    --c-info-soft-1: #DCE6FF;
    --c-info-soft-2: #CCD8FF;
    --c-info-soft-3: #BDCAFF;

    --rgb-info-soft: 220 230 255;

    --c-info-text-1: var(--c-info-1);
    --c-info-text-2: var(--c-info-3);

    --rgb-blue-dimmed: 100 108 255;
    
    --c-info-dimmed-10: rgba(var(--rgb-blue-dimmed) / 0.10);
    --c-info-dimmed-15: rgba(var(--rgb-blue-dimmed) / 0.15);
    --c-info-dimmed-20: rgba(var(--rgb-blue-dimmed) / 0.20);
}

/*-------- WARN --------*/
:root{
    --c-warn-1: #FFDD6A;
    --c-warn-2: #FCCF5D;
    --c-warn-3: #EDC150;

    --rgb-warn: 255 221 106;

    --c-warn-soft-1: #FFEEAD;
    --c-warn-soft-2: #FAE09F;
    --c-warn-soft-3: #F1D897;

    --rgb-warn-soft: 255 238 173;

    --c-warn-text-1: #7F6900;
    --c-warn-text-2: #755400;

    --rgb-yellow-dimmed: 249 204 90;

    --c-warn-dimmed-10: rgba(var(--rgb-yellow-dimmed) / 0.10);
    --c-warn-dimmed-15: rgba(var(--rgb-yellow-dimmed) / 0.15);
    --c-warn-dimmed-20: rgba(var(--rgb-yellow-dimmed) / 0.20);
}

/*-------- DANGER --------*/
:root{
    --c-danger-1: #C92D36;
    --c-danger-2: #B91B2B;
    --c-danger-3: #A90020;

    --rgb-danger: 201 45 54;

    --c-danger-soft-1: #FFDCD1;
    --c-danger-soft-2: #FFCEC3;
    --c-danger-soft-3: #FFC0B6;

    --rgb-danger-soft: 255 220 209;

    --c-danger-text-1: var(--c-danger-1);
    --c-danger-text-2: var(--c-danger-3);

    --rgb-red-dimmed: 255 105 101;

    --c-danger-dimmed-10: rgba(var(--rgb-red-dimmed) / 0.10);
    --c-danger-dimmed-15: rgba(var(--rgb-red-dimmed) / 0.15);
    --c-danger-dimmed-20: rgba(var(--rgb-red-dimmed) / 0.20);
}

/*-------- DEFAULT --------*/
:root{
    --c-gray-1: #5E5E5E;
    --c-gray-2: #525252;
    --c-gray-3: #474747;

    --rgb-gray: 94 94 94;

    --c-gray-soft-1: #C5C5C5;
    --c-gray-soft-2: #B9B9B9;
    --c-gray-soft-3: #ABABAB;

    --rgb-default-soft: 197 197 197;

    --c-gray-text-1: var(--c-gray-1);
    --c-gray-text-2: var(--c-gray-3);

    --rgb-gray-dimmed: 150 150 150;
    
    --c-gray-dimmed-10: rgba(var(--rgb-gray-dimmed) / 0.10);
    --c-gray-dimmed-15: rgba(var(--rgb-gray-dimmed) / 0.15);
    --c-gray-dimmed-20: rgba(var(--rgb-gray-dimmed) / 0.20);
}

/*---------- DISABLED STATE ----------*/
:root{
    --c-disabled-1: #D5D5D5;
    --c-disabled-2: #777777;
    --c-disabled-text: #5F5F5F;
}

/*---------- Background ----------*/
:root{
    --c-bg: #FCFCFC;
    --c-bg-alt: #F5F5F5;
}

/*---------- Text ----------*/
:root{
    --c-text: #252525;
}

/*-------------------------------------------------
-------------------- FONT-SIZE --------------------
-------------------------------------------------*/
:root{
    --font-size-sm: 1.2rem;
    --font-size-std: 1.4rem;
    --font-size-lg: 1.6rem;
}

/*---------------------------------
---------- BORDER RADIUS ----------
---------------------------------*/
:root{
    --border-radius-base: 4px;
}

/*------------------------------
---------- COMPONENTS ----------
------------------------------*/

/*---------- Background ----------*/
:root{
    --elm-bg-c: #50505015;
    --elm-bg-c-2: #5050502A;
    /* --elm-bg-c: var(--vp-c-brand-soft); */
}

/*---------- Borders ----------*/
:root{
    --elm-border-width: 0px;
    --elm-border-bottom-width: 2px;
}


:root{
    --brand-c-lightest: #AFC5A2;
    --brand-c-lighter: #8CAC7B;
    --brand-c-light: #759B61;
    --brand-c: #628251;
    --brand-c-dark: #557344;
    --brand-c-darker: #2C3925;
    --brand-c-darkest: #000;

    --brand-c-rgb-light: 117, 155, 97;

    --brand-gradient-c-1: var(--brand-c);
    --brand-gradient-c-1: #70e000;

    /*-------------------------
    ---------- FONTS ----------
    -------------------------*/

    /*---------- Font style ----------*/
    --font-main: 'initial';
    --darkText: #252525;
    --lightText: #F8FDFF;
    

    /*---------- RGBY ----------*/
    --red: #C13232;
	--green: #26AA31;
	--blue: #1970B3;
	--yellow: #E39B00;

    --darkRed: #861010;

    --redBg: #F3D2D2;
    --greenTxt: #16611C;
    --greenBg: #B9EFBD;
    --blueTxt: #004084;
    --blueBg: #D3E9FF;
    --yellowTxt: #8A6301;
    --yellowBg: #FFE5A5;

    /*---------- Grays ----------*/
    --gray0: #F8F9FA;
    --gray1: #EFF1F3;
    --gray2: #DEE2E6;
    --gray3: #CED4DA;
    --gray4: #ADB5BD;
    --gray5: #6C757D;
    --gray6: #495057;
    --gray7: #343A40;
    --gray8: #212529;

    --gray0-rgb: 248, 249, 250;

    /*---------------------------------
    ---------- Border Radius ----------
    ---------------------------------*/

    --borderRadius1: 2px;
    --borderRadius2: 5px;
    --borderRadius3: 8px;
    --borderRadius4: 12px;
    --borderRadius5: 3px;

    /*---------- Box shadows ----------*/
    --shadow1: #343A4045;
    --shadow2: #343A4020;
    --shadow3: #343A4038;
    --boxShadow1: 5px 5px 4px var(--shadow1);
    --boxShadow2: 1px 2px 5px 4px var(--shadow1);
    --boxShadow3: 4px 4px 4px var(--shadow1);
    --boxShadow4: 0px 4px 10px 4px var(--shadow1);
    --boxShadow5: 0 0 4px 4px var(--shadow1);
    --boxShadow6: 0 0 2px 2px var(--shadow1);
    --boxShadow7: 0 0 4px 3px var(--shadow2);

    /*---------- Z-indexes ----------*/
    --z-index-input: 1;
    --z-index-tooltip: 2;
    --z-index-select-dropdown: 2;
    --z-index-navbar: 3;
    --z-index-loader: 4;
    --z-index-pop-up: 5;
    --z-index-backdrop-input: 6;
    --z-index-backdrop-tooltop: 7;
    --z-index-backdrop-select-dropdown: 7;
    --z-index-backdrop-loader: 8;
    --z-index-screen-loader: 8;
    --z-index-confirm: 9;
    --z-index-alert: 10;
    --z-index-toast: 10;

    --backdrop-c: #00000030;




    --bw: 0px;             /*border width*/
    --bbw: 2px;            /*border bottom width*/

    --tableIconWidth: 40px;
}

:root{
    font-size: 10px;
    font-family: var(--font-main);
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
body{
    background-color: var(--c-bg);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p, h1, h2, h3{
    margin: 0;
}

.btnBox{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: end;
    grid-gap: 15px;
}

/*****************************************************************************************************
******************************************************************************************************
**                                                                                                  **
**_________________________________________ SCROLL TABLE ___________________________________________**
**                                                                                                  **
******************************************************************************************************
*****************************************************************************************************/

/*_____________________________________________________________________________________________________
______________________________________ IN TABLE BUTTON [.btnTab] ______________________________________
_____________________________________________________________________________________________________*/
.btnTab{
    background-color: var(--gray2);
    border: none;
    border-radius: var(--borderRadius1);
    transition: box-shadow 300ms;
    cursor: pointer;
}
.btnTab:focus{outline: none;}
.btnTab span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--gray1);
    transition: color 300ms;
}
.btnTab:hover span{ color: var(--lightText); }

/*_________________________________________________________________________________________________________
______________________________________ IN TABLE TEXT FIELD [.txtTab] ______________________________________
_________________________________________________________________________________________________________*/
.txtTab{
    background-color: var(--gray2);
    border: none;
    border-bottom: 2px solid var(--brand-c);
    border-radius: var(--borderRadius1);
}

input.txtTab{
    height: 30px;
    padding: 0 10px;
    font-weight: 500;
    font-family: var(--mainFont);
    color: var(--darkText);
}
input.txtTab:focus{outline: 1px dotted var(--darkText);}

div.txtTab{
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
}
div.txtTab i{
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: normal;
    font-weight: 500;
    font-family: var(--mainFont);
    color: var(--darkText);
}

div.txtTab > input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-family: var(--mainFont);
}
div.txtTab input:focus{outline: none;}

/*_________________________________________________________________________________________________________________
______________________________________ IN TABLE INTEGER FIELD [.intTabField] ______________________________________
_________________________________________________________________________________________________________________*/
.intTabField{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intTabField .btnTab{
    background-color: var(--brand-c-light);
    transition: background-color 250ms, box-shadow 250ms;
}

.intTabField .btnTab:disabled{ background-color: var(--gray4); }
.intTabField .btnTab:disabled:hover{ box-shadow: none !important; }
.intTabField .btnTab:disabled i{ color: var(--gray5); }

.intTabField input.txtTab{
    width: 40px;
    height: 30px;
    margin: 0 10px;
    padding: 0 5px;
    text-align: center;
}

/*****************************************************************************************************
******************************************************************************************************
**                                                                                                  **
**___________________________________________ TOOL TIP _____________________________________________**
**                                                                                                  **
******************************************************************************************************
*****************************************************************************************************/

.tooltip{ position: relative; }
.tooltip > span{
    display: none;
    align-items: center;
    position: absolute;
    width: max-content;
    padding: 4px 15px;
    border-radius: var(--borderRadius1);
    background-color: var(--brand-c) !important;
    color: var(--lightText);
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 0.5px;

    right: -10px;
    bottom: -42px;          /* - (Altura de span) - (10px de separación) */
    height: 20px;
}
.tooltip > span::after{
    content: "";
    display: block;
    position: absolute;
    
    /* Show triangle at the bottom */
    /*bottom: -7px;
    border-top: 7px solid var(--brand-c);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;*/

    /* Show triangle at the top */
    top: -7px;
    border-bottom: 7px solid var(--brand-c);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: calc(20px + 3.5px);
}
.tooltip:hover > span{ display: flex }

/*****************************************************************************************************
******************************************************************************************************
**                                                                                                  **
**_____________________________________ PARAGRAPH CUTSOM STYLES ____________________________________**
**                                                                                                  **
******************************************************************************************************
*****************************************************************************************************/
p:where(.ok, .error, .warn, .info){
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: var(--borderRadius2);
    font-weight: 500;
    font-family: var(--mainFont);
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}
p:where(.ok, .error, .warn, .info).md{
    font-size: 1.4rem;
}
p:where(.ok, .error, .warn, .info) > b.inlineBlock{
    display: inline-block;
}
p.ok{
    background-color: var(--greenBg);
    color: var(--greenTxt);
}
p.error{
    background-color: var(--redBg);
    color: var(--red);
}
p.warn{
    background-color: var(--yellowBg);
    color: var(--yellowTxt);
}
p.info{
    background-color: var(--blueBg);
    color: var(--blueTxt);
}
p.theme{
    background-color: var(--brand-c-lighter);
    color: var(--brand-c-dark);
}
p.pill{
    padding: 5px 15px;
    border-radius: 50px;
}