@import './colors/cobalt.css';
@import './colors/dartmouth.css';
@import './colors/denim.css';
@import './colors/indigo.css';
@import './colors/moss.css';
@import './colors/red.css';
@import './colors/sky.css';
@import './colors/teal.css';
@import './colors/wine.css';
@import './colors/yellow.css';

/*-------- BRAND --------*/
:root{
    --c-theme-1: var(--c-moss-1);
    --c-theme-2: var(--c-moss-2);
    --c-theme-3: var(--c-moss-3);
    --rgb-theme: var(--rgb-moss);

    --c-theme-soft-1: var(--c-moss-soft-1);
    --c-theme-soft-2: var(--c-moss-soft-2);
    --c-theme-soft-3: var(--c-moss-soft-3);
    --c-theme-soft-4: var(--c-moss-soft-4);
    --rgb-theme-soft: var(--rgb-moss-soft);

    --c-theme-text-1: var(--c-moss-text-1);
    --c-theme-text-2: var(--c-moss-text-2);
    --c-theme-text-3: var(--c-moss-text-3);

    --c-theme-icon-1: var(--c-moss-icon-1);
    --c-theme-icon-2: var(--c-moss-icon-2);
    --c-theme-icon-3: var(--c-moss-icon-3);

    --c-theme-border-1: var(--c-moss-border-1);
    --c-theme-border-2: var(--c-moss-border-2);
    --c-theme-border-3: var(--c-moss-border-3);
    --c-theme-border-4: var(--c-moss-border-4);

    --c-theme-outline: var(--c-moss-outline);
}

/*-------- USER --------*/
.user{
    --c-theme-1: var(--c-user-1);
    --c-theme-2: var(--c-user-2);
    --c-theme-3: var(--c-user-3);
    --rgb-theme: var(--rgb-user);

    --c-theme-soft-1: var(--c-user-soft-1);
    --c-theme-soft-2: var(--c-user-soft-2);
    --c-theme-soft-3: var(--c-user-soft-3);
    --c-theme-soft-4: var(--c-user-soft-4);
    --rgb-theme-soft: var(--rgb-user-soft);

    --c-theme-text-1: var(--c-user-text-1);
    --c-theme-text-2: var(--c-user-text-2);
    --c-theme-text-3: var(--c-user-text-3);

    --c-theme-icon-1: var(--c-user-icon-1);
    --c-theme-icon-2: var(--c-user-icon-2);
    --c-theme-icon-3: var(--c-user-icon-3);

    --c-theme-border-1: var(--c-user-border-1);
    --c-theme-border-2: var(--c-user-border-2);
    --c-theme-border-3: var(--c-user-border-3);
    --c-theme-border-4: var(--c-user-border-4);

    --c-theme-outline: var(--c-user-outline);
}

/*-------- NEUTRAL --------*/
.neutral{
    --c-theme-1: var(--c-grey-1);
    --c-theme-2: var(--c-grey-2);
    --c-theme-3: var(--c-grey-3);
    --rgb-theme: var(--rgb-grey);

    --c-theme-soft-1: var(--c-grey-soft-1);
    --c-theme-soft-2: var(--c-grey-soft-2);
    --c-theme-soft-3: var(--c-grey-soft-3);
    --c-theme-soft-4: var(--c-grey-soft-4);
    --rgb-theme-soft: var(--rgb-grey-soft);

    --c-theme-text-1: var(--c-grey-text-1);
    --c-theme-text-2: var(--c-grey-text-2);
    --c-theme-text-3: var(--c-grey-text-3);

    --c-theme-icon-1: var(--c-grey-icon-1);
    --c-theme-icon-2: var(--c-grey-icon-2);
    --c-theme-icon-3: var(--c-grey-icon-3);

    --c-theme-border-1: var(--c-grey-border-1);
    --c-theme-border-2: var(--c-grey-border-2);
    --c-theme-border-3: var(--c-grey-border-3);
    --c-theme-border-4: var(--c-grey-border-4);

    --c-theme-outline: var(--c-grey-outline);
}

/*-------- OK --------*/
.ok{
    --c-theme-1: var(--c-dartmouth-1);
    --c-theme-2: var(--c-dartmouth-2);
    --c-theme-3: var(--c-dartmouth-3);
    --rgb-theme: var(--rgb-dartmouth);

    --c-theme-soft-1: var(--c-dartmouth-soft-1);
    --c-theme-soft-2: var(--c-dartmouth-soft-2);
    --c-theme-soft-3: var(--c-dartmouth-soft-3);
    --c-theme-soft-4: var(--c-dartmouth-soft-4);
    --rgb-theme-soft: var(--rgb-dartmouth-soft);

    --c-theme-text-1: var(--c-dartmouth-text-1);
    --c-theme-text-2: var(--c-dartmouth-text-2);
    --c-theme-text-3: var(--c-dartmouth-text-3);

    --c-theme-icon-1: var(--c-dartmouth-icon-1);
    --c-theme-icon-2: var(--c-dartmouth-icon-2);
    --c-theme-icon-3: var(--c-dartmouth-icon-3);

    --c-theme-border-1: var(--c-dartmouth-border-1);
    --c-theme-border-2: var(--c-dartmouth-border-2);
    --c-theme-border-3: var(--c-dartmouth-border-3);
    --c-theme-border-4: var(--c-dartmouth-border-4);

    --c-theme-outline: var(--c-dartmouth-outline);
}

/*-------- INFO --------*/
.info{
    --c-theme-1: var(--c-cobalt-1);
    --c-theme-2: var(--c-cobalt-2);
    --c-theme-3: var(--c-cobalt-3);
    --rgb-theme: var(--rgb-cobalt);

    --c-theme-soft-1: var(--c-cobalt-soft-1);
    --c-theme-soft-2: var(--c-cobalt-soft-2);
    --c-theme-soft-3: var(--c-cobalt-soft-3);
    --c-theme-soft-4: var(--c-cobalt-soft-4);
    --rgb-theme-soft: var(--rgb-cobalt-soft);

    --c-theme-text-1: var(--c-cobalt-text-1);
    --c-theme-text-2: var(--c-cobalt-text-2);
    --c-theme-text-3: var(--c-cobalt-text-3);

    --c-theme-icon-1: var(--c-cobalt-icon-1);
    --c-theme-icon-2: var(--c-cobalt-icon-2);
    --c-theme-icon-3: var(--c-cobalt-icon-3);

    --c-theme-border-1: var(--c-cobalt-border-1);
    --c-theme-border-2: var(--c-cobalt-border-2);
    --c-theme-border-3: var(--c-cobalt-border-3);
    --c-theme-border-4: var(--c-cobalt-border-4);

    --c-theme-outline: var(--c-cobalt-outline);
}

/*-------- WARN --------*/
.warn{
    --c-theme-1: var(--c-yellow-1);
    --c-theme-2: var(--c-yellow-2);
    --c-theme-3: var(--c-yellow-3);
    --rgb-theme: var(--rgb-yellow);

    --c-theme-soft-1: var(--c-yellow-soft-1);
    --c-theme-soft-2: var(--c-yellow-soft-2);
    --c-theme-soft-3: var(--c-yellow-soft-3);
    --c-theme-soft-4: var(--c-yellow-soft-4);
    --rgb-theme-soft: var(--rgb-yellow-soft);

    --c-theme-text-1: var(--c-yellow-text-1);
    --c-theme-text-2: var(--c-yellow-text-2);
    --c-theme-text-3: var(--c-yellow-text-3);

    --c-theme-icon-1: var(--c-yellow-icon-1);
    --c-theme-icon-2: var(--c-yellow-icon-2);
    --c-theme-icon-3: var(--c-yellow-icon-3);

    --c-theme-border-1: var(--c-yellow-border-1);
    --c-theme-border-2: var(--c-yellow-border-2);
    --c-theme-border-3: var(--c-yellow-border-3);
    --c-theme-border-4: var(--c-yellow-border-4);

    --c-theme-outline: var(--c-yellow-outline);
}

/*-------- DANGER --------*/
.danger{
    --c-theme-1: var(--c-red-1);
    --c-theme-2: var(--c-red-2);
    --c-theme-3: var(--c-red-3);
    --rgb-theme: var(--rgb-red);

    --c-theme-soft-1: var(--c-red-soft-1);
    --c-theme-soft-2: var(--c-red-soft-2);
    --c-theme-soft-3: var(--c-red-soft-3);
    --c-theme-soft-4: var(--c-red-soft-4);
    --rgb-theme-soft: var(--rgb-red-soft);

    --c-theme-text-1: var(--c-red-text-1);
    --c-theme-text-2: var(--c-red-text-2);
    --c-theme-text-3: var(--c-red-text-3);

    --c-theme-icon-1: var(--c-red-icon-1);
    --c-theme-icon-2: var(--c-red-icon-2);
    --c-theme-icon-3: var(--c-red-icon-3);

    --c-theme-border-1: var(--c-red-border-1);
    --c-theme-border-2: var(--c-red-border-2);
    --c-theme-border-3: var(--c-red-border-3);
    --c-theme-border-4: var(--c-red-border-4);

    --c-theme-outline: var(--c-red-outline);
}