:root{
    font-size: 0.625rem; /* 10px */
    font-family: var(--font-sans);
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    & ::selection {
        background-color: var(--c-theme-soft-2);
    }
}
body{
    background-color: var(--c-bg);
    margin: 0;
    padding: 0;
}
p, h1, h2, h3{
    margin: 0;
}

/*-----------------------------------------------------------------------------------------
---------------------------------------- VARIABLES ----------------------------------------
-----------------------------------------------------------------------------------------*/
:root{
    /*---------- Font size ----------*/
    --font-size-xs: 1rem;
    --font-size-sm: 1.2rem;
    --font-size-md: 1.4rem;
    --font-size-lg: 1.6rem;
    --font-size-xl: 1.8rem;

    /*---------- Line height ----------*/
    /* target-line-height >= target-font-size-icon >= target-font-size-text */
    --target-font-size-text: 14;
    --target-font-size-icon: 16;
    --target-line-height: 18;
    
    /* line-height-text >= font-size-scale-icon >= 1 */
    --font-size-scale-icon: calc(var(--target-font-size-icon) / var(--target-font-size-text));
    --line-height-text: calc(var(--target-line-height) / var(--target-font-size-text));
    --line-height-icon: calc(var(--line-height-text) / var(--font-size-scale-icon));

    /*---------- Font style ----------*/
    --font-sans: 'initial';
    --font-mono: 'initial';

    /*---------- Border radius ----------*/
    --border-radius-none: 0px;
    --border-radius-sm: 3px;
    --border-radius-md: 4px;
    --border-radius-lg: 6px;
    --border-radius-full: 9999px;

    /*---------- Border ----------*/
    --component-border-bottom-width: 2px;

    /*---------- Bezier curves ----------*/
    --bezier-sine-in: cubic-bezier(0.47, 0, 0.745, 0.715);
    --bezier-sine-out: cubic-bezier(0.39, 0.575, 0.565, 1);
    --bezier-sine-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --bezier-back-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    --bezier-back-out: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --bezier-back-in-out: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --bezier-bounce-in: cubic-bezier(0.55, -0.45, 0.70, 0.80);
    --bezier-bounce-out: cubic-bezier(0.30, 0.20, 0.45, 1.45);
    --bezier-bounce-in-out: cubic-bezier(0.55, -0.45, 0.45, 1.45);

    /*---------- Z-index ----------*/
    --z-index-input: 10;
    --z-index-tooltip: 20;
    --z-index-select-dropdown: 30;
    --z-index-popup: 40;
    --z-index-confirm: 50;
    --z-index-toast: 60;
}

/*----------------------------------------------
-------------------- COLORS --------------------
----------------------------------------------*/
/*---------- Background ----------*/
:root{
    --c-bg: #f8f8f8;
    --c-bg-alt: #f3f3f3;
    --c-backdrop: #00000030;
}
.dark{
    --c-bg: #1b1b1b;
    --c-bg-alt: #151515;
}
/*---------- Text ----------*/
:root{
    --c-text-light: #FFFFFF;
    --c-text-dark: #252525;
    --c-text: var(--c-text-dark);
}
.dark{
    --c-text: var(--c-text-light);
}
/*---------- Disabled State ----------*/
:root{
    --c-disabled-1: #D5D5D5;
    --c-disabled-2: #E5E5E5;
    --c-disabled-text: #5F5F5F;
    --c-disabled-border: #777777;
}
.dark{
    --c-disabled-1: #2d2d2d;
    --c-disabled-2: #202020;
    --c-disabled-text: #808080;
    --c-disabled-border: #707070;
}
/*---------- Box Shadow ----------*/
:root{
    --c-box-shadow: #50505050;
}
.dark{
    --c-box-shadow: #00000070;
}

/*-----------------------------------------------
-------------------- GLOBALS --------------------
-----------------------------------------------*/
.radius-none{ --g-radius: var(--border-radius-none); }
.radius-full{ --g-radius: var(--border-radius-full); }
.size-sm{
    --g-font-size: var(--font-size-sm);
    --g-gap-1: 4px;
    --g-gap-2: 8px;
    &.spacing-compact{
        --g-gap-1: 2px;
        --g-gap-2: 4px;
    }
    &.spacing-expanded{
        --g-gap-1: 6px;
        --g-gap-2: 12px;
    }
    &.radius-sm{ --g-radius: calc(0.8 * var(--border-radius-sm)); }
    &.radius-md{ --g-radius: calc(0.8 * var(--border-radius-md)); }
    &.radius-lg{ --g-radius: calc(0.8 * var(--border-radius-lg)); }
}
.size-md{
    --g-font-size: var(--font-size-md);
    --g-gap-1: 6px;
    --g-gap-2: 12px;
    &.spacing-compact{
        --g-gap-1: 4px;
        --g-gap-2: 8px;
    }
    &.spacing-expanded{
        --g-gap-1: 8px;
        --g-gap-2: 16px;
    }
    &.radius-sm{ --g-radius: var(--border-radius-sm); }
    &.radius-md{ --g-radius: var(--border-radius-md); }
    &.radius-lg{ --g-radius: var(--border-radius-lg); }
}
.size-lg{
    --g-font-size: var(--font-size-lg);
    --g-gap-1: 8px;
    --g-gap-2: 16px;
    &.spacing-compact{
        --g-gap-1: 6px;
        --g-gap-2: 12px;
    }
    &.spacing-expanded{
        --g-gap-1: 10px;
        --g-gap-2: 20px;
    }
    &.radius-sm{ --g-radius: calc(1.2 * var(--border-radius-sm)); }
    &.radius-md{ --g-radius: calc(1.2 * var(--border-radius-md)); }
    &.radius-lg{ --g-radius: calc(1.2 * var(--border-radius-lg)); }
}
.size-xl{
    --g-font-size: var(--font-size-xl);
    --g-gap-1: 10px;
    --g-gap-2: 20px;
    &.spacing-compact{
        --g-gap-1: 8px;
        --g-gap-2: 16px;
    }
    &.spacing-expanded{
        --g-gap-1: 12px;
        --g-gap-2: 24px;
    }
    &.radius-sm{ --g-radius: calc(1.4 * var(--border-radius-sm)); }
    &.radius-md{ --g-radius: calc(1.4 * var(--border-radius-md)); }
    &.radius-lg{ --g-radius: calc(1.4 * var(--border-radius-lg)); }
}

/*------------------------------------------------------------------------------------------
---------------------------------------- ANIMATIONS ----------------------------------------
------------------------------------------------------------------------------------------*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes move-left {
    from { transform: translateX(0); }
    to{ transform: translateX(calc(-100% - 1px)); }
}

/*****************************************************************************************************
******************************************************************************************************
**                                                                                                  **
**___________________________________________ TOOL TIP _____________________________________________**
**                                                                                                  **
******************************************************************************************************
*****************************************************************************************************/

.tooltip{ position: relative; }
.tooltip > span{
    display: none;
    align-items: center;
    position: absolute;
    width: max-content;
    padding: 4px 15px;
    border-radius: var(--borderRadius1);
    background-color: var(--brand-c) !important;
    color: var(--lightText);
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 0.5px;

    right: -10px;
    bottom: -42px;          /* - (Altura de span) - (10px de separación) */
    height: 20px;
}
.tooltip > span::after{
    content: "";
    display: block;
    position: absolute;
    
    /* Show triangle at the bottom */
    /*bottom: -7px;
    border-top: 7px solid var(--brand-c);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;*/

    /* Show triangle at the top */
    top: -7px;
    border-bottom: 7px solid var(--brand-c);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: calc(20px + 3.5px);
}
.tooltip:hover > span{ display: flex }