@import './colors.css';
@import './themes.css';

/*----------------------------------------------------------------------------------------.
---------------------------------------- VARIABLES ----------------------------------------
----------------------------------------------------------------------------------------.*/

/*----------------------------------------------
-------------------- COLORS --------------------
----------------------------------------------*/
/*---------- Background ----------*/
:root{
    --c-bg: #fbfbfb;
    --c-bg-alt: #f5f5f5;
}
.dark{
    --c-bg: #1b1b1b;
    --c-bg-alt: #151515;
}
/*---------- Text ----------*/
:root{
    --c-text-light: #FFFFFF;
    --c-text-dark: #252525;
}
/*---------- Disabled State ----------*/
:root{
    --c-disabled-1: #D5D5D5;
    --c-disabled-2: #E5E5E5;
    --c-disabled-text: #5F5F5F;
    --c-disabled-border: #777777;
}
.dark{
    --c-disabled-1: #2d2d2d;
    --c-disabled-2: #202020;
    --c-disabled-text: #808080;
    --c-disabled-border: #707070;
}

/*-------------------------------------------------
-------------------- FONT-SIZE --------------------
-------------------------------------------------*/
:root{
    --font-size-xs: 1rem;
    --font-size-sm: 1.2rem;
    --font-size-md: 1.4rem;
    --font-size-lg: 1.6rem;
    --font-size-xl: 1.8rem;
}

/*---------------------------------
---------- BORDER RADIUS ----------
---------------------------------*/
:root{
    --border-radius-none: 0px;
    --border-radius-sm: 3px;
    --border-radius-md: 4px;
    --border-radius-lg: 6px;
    --border-radius-full: 9999px;
}

/*---------- Borders ----------*/
:root{
    --component-border-bottom-width: 2px;
}

:root{
    /*---------- Font style ----------*/
    --font-sans: 'initial';
    --font-mono: 'initial';

    /*---------- Box shadows ----------*/
    --shadow1: #343A4045;
    --shadow2: #343A4020;
    --shadow3: #343A4038;
    --boxShadow1: 5px 5px 4px var(--shadow1);
    --boxShadow2: 1px 2px 5px 4px var(--shadow1);
    --boxShadow3: 4px 4px 4px var(--shadow1);
    --boxShadow4: 0px 4px 10px 4px var(--shadow1);
    --boxShadow5: 0 0 4px 4px var(--shadow1);
    --boxShadow6: 0 0 2px 2px var(--shadow1);
    --boxShadow7: 0 0 4px 3px var(--shadow2);

    /*---------- Z-indexes ----------*/
    --z-index-input: 1;
    --z-index-tooltip: 2;
    --z-index-select-dropdown: 2;
    --z-index-navbar: 3;
    --z-index-loader: 4;
    --z-index-pop-up: 5;
    --z-index-backdrop-input: 6;
    --z-index-backdrop-tooltop: 7;
    --z-index-backdrop-select-dropdown: 7;
    --z-index-backdrop-loader: 8;
    --z-index-screen-loader: 8;
    --z-index-confirm: 9;
    --z-index-alert: 10;
    --z-index-toast: 10;

    --backdrop-c: #00000030;
}

:root{
    font-size: 10px;
    font-family: var(--font-sans);
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
body{
    background-color: var(--c-bg);
    margin: 0;
    padding: 0;
}
p, h1, h2, h3{
    margin: 0;
}

.btnBox{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: end;
    grid-gap: 15px;
}

/*------------------------------------------------------------------------------------------
---------------------------------------- ANIMATIONS ----------------------------------------
------------------------------------------------------------------------------------------*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*****************************************************************************************************
******************************************************************************************************
**                                                                                                  **
**_________________________________________ SCROLL TABLE ___________________________________________**
**                                                                                                  **
******************************************************************************************************
*****************************************************************************************************/

/*_____________________________________________________________________________________________________
______________________________________ IN TABLE BUTTON [.btnTab] ______________________________________
_____________________________________________________________________________________________________*/
.btnTab{
    background-color: var(--gray2);
    border: none;
    border-radius: var(--borderRadius1);
    transition: box-shadow 300ms;
    cursor: pointer;
}
.btnTab:focus{outline: none;}
.btnTab span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--gray1);
    transition: color 300ms;
}
.btnTab:hover span{ color: var(--lightText); }

/*_________________________________________________________________________________________________________
______________________________________ IN TABLE TEXT FIELD [.txtTab] ______________________________________
_________________________________________________________________________________________________________*/
.txtTab{
    background-color: var(--gray2);
    border: none;
    border-bottom: 2px solid var(--brand-c);
    border-radius: var(--borderRadius1);
}

input.txtTab{
    height: 30px;
    padding: 0 10px;
    font-weight: 500;
    font-family: var(--mainFont);
    color: var(--darkText);
}
input.txtTab:focus{outline: 1px dotted var(--darkText);}

div.txtTab{
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
}
div.txtTab i{
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: normal;
    font-weight: 500;
    font-family: var(--mainFont);
    color: var(--darkText);
}

div.txtTab > input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-family: var(--mainFont);
}
div.txtTab input:focus{outline: none;}

/*_________________________________________________________________________________________________________________
______________________________________ IN TABLE INTEGER FIELD [.intTabField] ______________________________________
_________________________________________________________________________________________________________________*/
.intTabField{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intTabField .btnTab{
    background-color: var(--brand-c-light);
    transition: background-color 250ms, box-shadow 250ms;
}

.intTabField .btnTab:disabled{ background-color: var(--gray4); }
.intTabField .btnTab:disabled:hover{ box-shadow: none !important; }
.intTabField .btnTab:disabled i{ color: var(--gray5); }

.intTabField input.txtTab{
    width: 40px;
    height: 30px;
    margin: 0 10px;
    padding: 0 5px;
    text-align: center;
}

/*****************************************************************************************************
******************************************************************************************************
**                                                                                                  **
**___________________________________________ TOOL TIP _____________________________________________**
**                                                                                                  **
******************************************************************************************************
*****************************************************************************************************/

.tooltip{ position: relative; }
.tooltip > span{
    display: none;
    align-items: center;
    position: absolute;
    width: max-content;
    padding: 4px 15px;
    border-radius: var(--borderRadius1);
    background-color: var(--brand-c) !important;
    color: var(--lightText);
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 0.5px;

    right: -10px;
    bottom: -42px;          /* - (Altura de span) - (10px de separación) */
    height: 20px;
}
.tooltip > span::after{
    content: "";
    display: block;
    position: absolute;
    
    /* Show triangle at the bottom */
    /*bottom: -7px;
    border-top: 7px solid var(--brand-c);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;*/

    /* Show triangle at the top */
    top: -7px;
    border-bottom: 7px solid var(--brand-c);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: calc(20px + 3.5px);
}
.tooltip:hover > span{ display: flex }

/*****************************************************************************************************
******************************************************************************************************
**                                                                                                  **
**_____________________________________ PARAGRAPH CUTSOM STYLES ____________________________________**
**                                                                                                  **
******************************************************************************************************
*****************************************************************************************************/
p:where(.ok, .error, .warn, .info){
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: var(--borderRadius2);
    font-weight: 500;
    font-family: var(--mainFont);
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}
p:where(.ok, .error, .warn, .info).md{
    font-size: 1.4rem;
}
p:where(.ok, .error, .warn, .info) > b.inlineBlock{
    display: inline-block;
}
p.ok{
    background-color: var(--greenBg);
    color: var(--greenTxt);
}
p.error{
    background-color: var(--redBg);
    color: var(--red);
}
p.warn{
    background-color: var(--yellowBg);
    color: var(--yellowTxt);
}
p.info{
    background-color: var(--blueBg);
    color: var(--blueTxt);
}
p.theme{
    background-color: var(--brand-c-lighter);
    color: var(--brand-c-dark);
}
p.pill{
    padding: 5px 15px;
    border-radius: 50px;
}