:root {
    --c-grey-solid-1: light-dark(#656565, #525252);
    --c-grey-solid-2: light-dark(#5C5C5C, #5C5C5C);
    --c-grey-solid-3: light-dark(#4B4B4B, #656565);

    --c-grey-soft-1: light-dark(#F3F3F3, #1D1D1D);
    --c-grey-soft-2: light-dark(#EBEBEB, #232323);
    --c-grey-soft-3: light-dark(#DEDEDE, #323232);
    --c-grey-soft-4: light-dark(#D6D6D6, #3A3A3A);

    --c-grey-text-1: light-dark(var(--c-grey-solid-1), #D1D1D1);
    --c-grey-text-2: light-dark(var(--c-grey-solid-2), #DADADA);
    --c-grey-text-3: #E8E8E8;
    --c-grey-text-4: white;

    --rgb-grey-border: 127 127 127;
    --c-grey-border-subtle: rgb(var(--rgb-grey-border) / 0.25);
    --c-grey-border-regular: rgb(var(--rgb-grey-border) / 0.55);
    
    --c-grey-outline: light-dark(#BFBFBF, #4E4E4E);

    --c-grey-1: light-dark(var(--c-grey-solid-1), #909090);
    --c-grey-2: light-dark(#B4B4B4, var(--c-grey-soft-4));
    --c-grey-3: light-dark(#404040, var(--c-grey-soft-3));
    --c-grey-4: light-dark(var(--c-grey-soft-3), var(--c-grey-soft-2));
}